################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

GitHubSetup/* linguist-documentation

/.vs
/~$*
